<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brilliantsquid.crappermapper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Toilet"
        android:uiOptions="splitActionBarWhenNarrow" >
        <meta-data
            android:name="android.support.UI_OPTIONS"
            android:value="splitActionBarWhenNarrow" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperMenu"
            android:label="Crapper Mapper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperEmergency"
            android:label="I Got Diarrhea!" />
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperList"
            android:label="Restroom Search"
            android:parentActivityName="com.brilliantsquid.crappermapper.CrapperMapperMenu" />
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperAdd"
            android:label="Add Restroom" />
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperRecent"
            android:label="Recent visitations" />
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperLocation"
            android:label="Around me" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB2aVzckvHdEcF6oGeGWKYYOou9kXTR83A" />

        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperUser"
            android:label="User data" />
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName="com.brilliantsquid.crappermapper.CrapperMapperMenu" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperSingleToiletView"
            android:label="@string/title_activity_crapper_mapper_single_toilet_view"
            android:parentActivityName="com.brilliantsquid.crappermapper.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brilliantsquid.crappermapper.BaseActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:name="com.brilliantsquid.crappermapper.CrapperMapperSignup"
            android:label="@string/title_activity_crapper_mapper_signup" >
        </activity>
    </application>

</manifest>
